# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim
*.swp

# personal practices
local_notes.md

# project specific
/build

/Debug/


# Files created by IDEs
## Eclipse
/.externalToolBuilders
/.settings
/.cproject

